.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

#result {
    width: 92%;
    margin-bottom: 8px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

button {
    padding: 10px;
}
